# Ignore everything
*

# Include these folders
!.github
!.github/**/*
!src/
!src/**/*
!mock
!mock/**/*
!pages
!pages/**/*
!public
!public/**/*
!scripts
!scripts/**/*
!cypress
!cypress/**/*

# Include these files
!.browserslistrc
!.editorconfig
!.env
!.gitignore
!.tool-versions
!bun.lockb
!cypress.config.ts
!instrumentation.ts
!next.config.js
!package.json
!README.md
!tsconfig.json
