# Ignore everything
*

# Include these folders
!.github
!.github/**/*
!src/
!src/**/*
!mock
!mock/**/*
!pages
!pages/**/*
!public
!public/**/*
!scripts
!scripts/**/*

# Include these files
!.browserslistrc
!.editorconfig
!.env.example
!.gitignore
!.tool-versions
!bun.lockb
!eslint.config.js
!instrumentation.ts
!next.config.js
!package.json
!prettier.config.js
!README.md
!tsconfig.json
